{% extends 'menuCliente.html' %}
{% block contenido %}
<!--Graficos de los productos pedidos a proveedores-->
    <div class="contenedor-principal-graficas">

        <div class="titulo-grafico-ventas"><h1>Gráfico de ventas</h1></div>
        <div class="contenedor-select-tipoGrafico">

            <form action="/tipo-grafico-cliente" method="post" class="form-tipo-grafico">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <select name="tipo-grafico" class="form-select select-grafico" id="tipo-grafico">
                    <option selected value="">Seleccione un gráfico</option>
                    <option name="tipo-grafico" value="barras">Barras</option>
                    <option name="tipo-grafico" value="pastel">Pastel</option>
                </select>
                <button type="submit" class="btn btn-success btn-verGrafico">Ver gráfico</button>
            </form>

        </div>
        <div class="contenedor-grafico-ventas">
            <div class="info-grafico">
                <div class="contenedor-tabla-comparativa">
                    <div class="tabla-comparativa-admin">
                        <table class="table table.striped-columns table-hover">
                          <thead class="table-green">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Producto</th>
                                <th scope="col"># Productos Comprados</th>
                            </tr>
                          </thead>
                          <tbody>
                          {%for producto in productos%}
                            <tr>
                                <td>{{producto.id_producto}}</td>
                                <td>{%print(producto.nombre_producto)%}</td>
                                <td>{%print(numVendidos[loop.index-1])%}</td>
                            </tr>
                          {%endfor%}
                          </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="grafico-ventas">
                <div class="img-grafico-ventas">
                    {%if tipo_grafico == 'barras':%}
                        <img src="data:image/png;base64,{{imagenBarras.imagenBarras}}">
                    {%elif tipo_grafico == 'pastel':%}
                        <img src="data:image/png;base64,{{imagenPastel.imagenPastel}}">
                    {%else:%}
                        <h2>Seleccione un tipo de gráfico</h2>
                    {%endif%}
                </div>
            </div>
        </div>

    </div>
{% endblock %}